$vermilion: #E3170A;
$vermilionLight: #F52314;
$vermilionDark: #D71709;

$fireEngineRed: #C21E29;

$quicksilver: #A2A79E;
$quicksilverLight: #E0E2DF;

$eggShellLight: #FAF8F0;
$eggShell: #F4F1DE;
$eggShellDark: #EBE5C2;

$terraCottaLight: #E58E76;
$terraCotta: #E07A5F;
$terraCottaDark: #DB6443;

$independence: #3D405B;

$greenSheen: #81B29A;
$greenSheenDark: #67A286;
$greenSheenDarker: #558B72;

$deepChampagne: #F2CC8F;