apiVersion: apps/v1
kind: Deployment
metadata:
  name: post-service
spec:
  selector:
    matchLabels:
      app: post-service
  template:
    metadata:
      labels:
        app: post-service
    spec:
      containers:
        - image: post-service
          name: post-service
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          resources: { }
---
apiVersion: v1
kind: Service
metadata:
  name: post-service
spec:
  type: NodePort
  selector:
    app: post-service
  ports:
    - port: 8080
      targetPort: 8080